/* .form {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 2.2em;
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
}

.form-text {
  font-weight: 600;
  letter-spacing: -0.03em;
  font-size: 18px;
}

.input-section {
  display: flex;
  align-items: center;
}

.input-section-title {
  letter-spacing: -0.03em;
}

.input-section div {
  margin: 0.4em;
}

.form-input {
  margin-top: 1em;
}

.input-section-content select {
  padding: 0.1em;
  font-size: 1em;
}

#submit-upload,
#reset-button {
  padding: 0.4em 0.9em;
  border: 0.15em solid #C62128;
  border-radius: 0.5em;
  margin: 1em 0.4em;
  font-weight: 600;
  color: #636363;
  letter-spacing: -0.03em;
  transition: 0.6s;
  font-size: 1em;
}

#submit-upload:hover,
#reset-button:hover {
  cursor: pointer;
  transition: 0.6s;
  color: #ffffff;
  background-color: #C62128;
}

#filename {
  padding: 0.1em;
  font-size: 1em;
}

.main {
  display: flex;
  flex-direction: row;
}

* {
  letter-spacing: -0.02em;
}

.us-section-title {
  font-size: 1em;
  font-weight: 500;
  margin: 1.2em 0 0.5em 0;
}

.us-section-subtitle {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0.8em 0 0;
}

.us-heading {
  margin-top: 1em;
  font-weight: 700;
  font-size: 1.2em;
}

.us-section {
  display: flex;
  flex-direction: column;
}

.us-section-content {
  display: flex;
}

.us-section-name {
  font-size: 1em;
  font-weight: 700;
  margin: 0 0.4em;
}

.us-section-icon img {
  height: 1.2em;
}

.course_code {
  font-weight: 700;
}

.us-section-swatch {
  display: flex;
  padding-right: 0.8em;
}

.us-subsection {
  display: flex;
  margin-top: 0.5em;
}


.input-section-title {
  min-width: 10em;
}

#Sem,#Div{
  width : 26%;
}

h2{
  text-align: center;
}

#year{
  width: 26%;
} */


.nav-options1 {
  
  margin-top: 1em;
  /* margin-bottom: 5em; */
  /* border: none; */
  width: 600px;
  height: 1em;
  margin-left: 23em;  

}

.nav-op1 {
  padding: 0.4em 1.1em;
  border: 0.1em solid #c62128;
  border-radius: 0.5em;
  margin-top: 0.2em;
  font-weight: 600;
  color: #636363;
  letter-spacing: -0.03em;
  transition: 0.6s;
  text-align: center;
  display: flex;
  flex-direction: row;
  float: left;
  width: 30%;
}

.nav-op1:hover,.nav-op4:hover {
  cursor: pointer;
  transition: 0.6s;
  color: #ffffff;
  background-color: #c62128;
}

.nav-op1:first-of-type {
  margin-left: 50px;
}