
<div class="container">
    <div class="nav-options" >
        <div class="nav-op" routerLink="/Minor" [routerLinkActive]="['selected-option']">
          ISA Analysis</div>
        <div class="nav-op" routerLink="/Endsem" [routerLinkActive]="['selected-option']">
          End Sem Result Analysis</div>
        <div class="nav-op" routerLink="/Labmain" [routerLinkActive]="['selected-option']">
          Lab CIE Analysis</div>
        <div class="nav-op" routerLink="/Withdrawal" [routerLinkActive]="['selected-option']">
          Course Withdrawal</div>
        <div class="nav-op" routerLink="/Circular" [routerLinkActive]="['selected-option']">
          Circular</div>
        <div class="nav-op" routerLink="/eligibility" [routerLinkActive]="['selected-option']">
          Eligibility</div>
        <div class="nav-op" routerLink="/makeup" [routerLinkActive]="['selected-option']">
          Makeup Minor</div>
          <!-- <div class="nav-op" routerLink="/add-user" [routerLinkActive]="['selected-option']">
            Add User</div>
      </div> -->
      <div class="nav-op" routerLink="/add-user" [routerLinkActive]="['selected-option']" *ngIf="userType =='DUGCChairman'">
          Add User</div>
</div>

<div class="nav-container">
  <div class="nav-options1">
    <!-- CourseCoordinator buttons -->
    <div *ngIf="userType =='CourseCoordinator'" style="margin-left: 10em;">
        <div class="nav-op1" routerLink="/Labmain/coordinator1" [routerLinkActive]="['selected-option']">
            Upload Lab sheet
        </div>
        <a href="http://localhost:3000/filemanager" target="_self">
            <div class="nav-op1" style="margin-left: 20px;">
                View Excel Sheets
            </div>
        </a>
    </div>

    

    <!-- DUGCCoordinator buttons -->
    <div *ngIf="userType =='DUGCCoordinator'">
        <div class=" nav-op3" routerLink="/Labmain/dugcChairman"  [routerLinkActive]="['selected-option']">
            View ISA Analysis
        </div>
    </div>

    <!-- DUGCChairman buttons -->
    <div *ngIf="userType =='DUGCChairman'" class="chairman">
        <div class=" nav-op2" routerLink="/Labmain/dugcChairman" style="float: left;" [routerLinkActive]="['selected-option']">
            View Lab Analysis
        </div>
        <a href="http://localhost:3000/filemanager" target="_self" class="nav-op2" style="margin-left: 2%;">
            <div>
                View Excel Sheets
            </div>
        </a>
    </div>
</div>

</div>
<div class="container">
    <router-outlet></router-outlet>
</div>