<div class="container">
  <div class="card-options">
    <div class="card" routerLink="/Labmain/coordinator1/singleSheet" [routerLinkActive]="['selected-option']">
        <div class="card-body">
              <h5 class="card-title">Single Marksheet Upload</h5>
              
          </div>
      </div>

      <div class="card" routerLink="/Labmain/coordinator1/consolidatedUpload" [routerLinkActive]="['selected-option']">
          <div class="card-body">
              <h5 class="card-title">Consolidated Marksheet Upload</h5>
              
          </div>
      </div>

      <div class="card" routerLink="/Labmain/coordinator1/deleteDel" [routerLinkActive]="['selected-option']">
          <div class="card-body">
              <h5 class="card-title">Delete Marksheet</h5>
              
          </div>
      </div>
  </div>

  <div class="dashboard">
      <div>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
