<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light" style="margin: 1em 5em;">
  <a class="navbar-brand" [routerLink]="'/homeMain'">DUGC</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" [routerLink]="'/members-component'">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/aboutUs'">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/contact'">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-light my-2 my-sm-0"
        type="submit"
        (click)="onLoginClick()"
      >
        Login
      </button>
    </form>
  </div>
</nav>


<h2 style="color:brown; margin-left: 5.5%;" class="pt-2">Inspiring excellence, nurturing talent</h2>
<div class="box" style="width: 40%; text-align: justify; margin-left:5.5% ;">
    <span style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">
      DUGC is an innovative and user-friendly system designed to streamline and enhance the processes 
      related to the Department Undergraduate Committee (DUGC). Whether you are a faculty member, faculty
       coordinator, DUGC coordinator, or the DUGC chairman, this comprehensive guide will help you 
       navigate through the features and functionalities that the DUGC website offers.
    </span><br><br>
    <span style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">  
      The DUGC website is specifically crafted to simplify the management and coordination of 
      undergraduate activities within the department. It aims to provide a centralized platform 
      for efficient communication, collaboration, and decision-making among faculty members, 
      students, and committee administrators.
    </span><br><br>
    <span style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;"  >
      The DUGC website was initially created by 5th-semester students from the School of Computer 
      Science and Engineering (SoCSE) during the academic year 2022-23. It has since been reconstructed 
      by 5th-semester students belonging to the 'E2' batch in SoCSE for the year 2023-24. 
      The redevelopment includes essential functionalities to ensure real-time usability, aiming 
      to streamline data management and analysis of undergraduate activities within the Department 
      of Computer Science and Engineering.
    </span>
</div>
<div class="image">
    <img src="assets/kletechimage.jpg" alt="" class="image" >
</div>
