<form class="form-input1">
  <div class="modal-body" style="width: 50%; margin-left: 38%;">
    <label class="control-label" for="course">Select Sem</label>
    <select class="form-select mb-3" name="sem" id="sem" (change)="formvalue($event)" ngModel [required]="true"
      [(ngModel)]="inp.sem" required>
      <option value="" disabled selected>Select Semester</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
  </div>

  <button class="btn" id="submit-upload" (click)="retrieveDataBySem()" style="margin-left: 35%;">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M3 18h18v-2H3v2zm0-4h18v-2H3v2zm0-4h18V8H3v2z" />
    </svg>
    Retrieve Data
  </button>
</form>

<br><br><br><br><br><br><br>


<div id="print">
  <div class="head">
    <img src="../assets/logo.png" class="rounded float-left" width="250px">
    <p id="BVB">Earlier known as <br> B. V. B. College of Engineering & Technology</p>
  </div>
  <br>
  <h2>List of Students Ineligible for Supplementary Theory End Semester Assessment</h2>
  <h4><span> School: Computer Science & Engineering </span> <span>Examination:{{Showdate|date:"shortDate"}}</span> </h4>
  <h5><span> Program: BE </span> <span> Semester:{{inp.sem}}</span> </h5>
  <br>



  <div>
    <table class="table table-hover table-bordered table-sm caption-top" style="text-align:center;border:2px;">
      <thead class="table-active">
        <tr>
          <th scope="col" rowspan="2">Sl no.</th>
          <th scope="col" rowspan="2">USN</th>
          <th scope="col" rowspan="2">Name</th>
          <th scope="col" colspan="2">{{course1}}</th>
          <th scope="col" colspan="2">{{course2}}</th>
          <th scope="col" colspan="2">{{course3}}</th>
          <th scope="col" colspan="2">{{course4}}</th>
          <th scope="col" colspan="2">{{course5}}</th>
          <th scope="col" colspan="2">{{course6}}</th>

        </tr>
        <tr>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of retrievedData; let count=index ">
          <td>{{ count + 1 }}</td>
          <td>{{ student.USN }}</td>
          <td>{{ student.Name }}</td>
          <ng-container *ngFor="let key of courses[inp.sem]">
            <td>{{ student[key.name]?.CIE || '--' }}</td>
            <td>{{ student[key.name]?.Attendance || '--' }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <div class="courses">
    <table class="table table-hover table-bordered table-sm caption-top mt-2"
      style="text-align:center;border:2px;width:50%;">
      <thead class="table-active">
        <tr>
          <th>Code</th>
          <th>CourseName</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of theorycourses[inp.sem]">
          <td scope="row">{{ course.name }}</td>
          <td>{{ course.code }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
</div>
<br>