<main class="container">
  <h1 class="main-title">Application for Makeup Minor</h1>
  <div class="stud-details"><br>
    <form>
      <table>
        <tr>
          <td><label style="font-size: medium;" for="name">Name:</label></td>
          <td id="nm">
            <div style="font-size: 15px;">
              <input [(ngModel)]="studentName" type="text" placeholder="Enter Name" name="name" id="name"
                style="height: 42px;">
            </div>
          </td>
        </tr>
        <br>
        <tr>
          <td><label style="font-size: medium;" for="sem">Sem:</label></td>
          <td>
            <!-- <select [(ngModel)]="selectedSem" name="sem" id="sem" (change)="getSemCourses()"> -->
            <select style="padding: 0px; height: 30px; width: 200px;" #semester
              (change)="getSemCourses(semester.value)">

              <option default>Choose semester</option>

              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </td>
        </tr>
        <br>
        <tr>
          <td><label style="font-size: medium;" for="srn">SRN:</label></td>
          <td>
            <input style="height: 30px; font-size: 15px; width: 200px;" [(ngModel)]="srn" type="text" placeholder="SRN"
              name="srn" id="n1" />
          </td>
        </tr>
        <br>
        <tr>
          <td><label style="font-size: medium;" for="rno">Roll No:</label></td>
          <td>
            <input style="height: 30px; font-size: 15px;width: 200px; " [(ngModel)]="rno" type="text"
              placeholder="Roll no" name="rno" id="n1" style="height: 30px; width: 200px;" />
          </td>
        </tr>
        <br>
        <!-- <tr>
          <td><label for="div">Division:</label></td>
          <td>
            <select [(ngModel)]="div" name="div" id="div" id="n1">
              <option disabled value="" [selected]=true></option>
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
              <option value="d">D</option>
              <option value="e">E</option>
            </select>
          </td>
        </tr> -->

        <tr>
          <td><label for="div" style="font-size: medium;">Division:</label></td>

          <td>
            <select style="padding: 0px; height: 30px; width: 50px;" [(ngModel)]="div" name="div" id="div">
              <option disabled value="" [selected]=true></option>
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
              <option value="d">D</option>
              <option value="e">E</option>
            </select>
          </td>
        </tr>
      </table>
    </form>
    <br>
    <br>
    <h2 style="margin-left: 40%; font-size: 25px; ">Select the Courses you want apply for Makeup</h2>
    <br>
    <div>
      <div class="table">
        <div *ngFor="let course of selectedSemCourses" style="padding: 10px;">
          {{course.name}} <br>
          {{course.code}} <br>
          credits-{{course.credits}}
          <input type="checkbox" style="height: 25px; width: 25px;" (change)="selectedCourse($event,course)">
        </div>

      </div>
      <br>
      <!-- <td>
          System software <br>
          15cs51<br>
          3 credits <br>
          <input type="text" placeholder="Attendance"> <br>
          <input type="text" placeholder="ISA 1 "> <br>
          <input type="text" placeholder="ISA 2">
        </td>
        <td>
          Machine learning <br>
          15cs51<br>
          3 credits <br>
          <input type="text" placeholder="Attendance"> <br>
          <input type="text" placeholder="ISA 1 "> <br>
          <input type="text" placeholder="ISA 2">
        </td> -->
    </div>
  </div>

  <!-- </div> -->

  <!-- <div class="footer">
    Credits <input type="text" value={{totalCredits}} readonly> <br>
  <br></div>-->



  <!-- <div class="input-section" align="center">
    <div class="input-section-title">
      <label for="exam"><b>Choose from the spreadsheets directory:</b></label>
    </div>
    <div class="input-section-content">
      <input type="file" name="filename" id="filename" accept=".xls,.xlsx">
    </div>
  </div> -->
  <div style="padding-left: 100px; font-size: 20px; margin-left: 30%;">Reason:</div>
  <br>
  <div style="text-align: center;">
    <div id="omas" style="margin-left: 30%;"> <textarea [(ngModel)]="reason" class="momsa" name="" id="" cols="5"
        rows="10"></textarea> </div>
  </div>
  <br>
  <div style="text-align: center; margin-left: 30%;">
    <button class="kop" (click)="submitDetails()">Submit</button>
  </div>
  <br>
  <br>
</main>